@model IEnumerable<Item>?
@{
    ViewData["Title"] = "Item";
}
<body style="background-color:white">
    <div class="container p-5 mt-2" style="background-color:whitesmoke">
        <partial name="_Notifaction" />
        <div>
            <div class="col-6">
                <h1>Welcome to the Items Page</h1>
            </div>
        
            <div class="d-flex justify-content-between align-items-center">
                <form asp-action="Search" method="get" asp-controller="Item" class="d-flex">
                    <input type="text" name="searchString" placeholder="Search" class="form-control me-2" />
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <a asp-controller="Item" asp-action="New" class="btn btn-primary">
                    <i class="bi bi-plus"></i> Add NewItem
                </a>
            </div>
        </div>
        <br />
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        Item Id
                    </th>
                    <th>
                        Item Name
                    </th>

                    <th>
                        Item Price
                    </th>
                    <th>
                        Item Category
                    </th>
                    <th>
                        Image
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model!)
                {
                    <tr>
                        <td>
                            @item.id
                        </td>
                        <td>
                            @item.name
                        </td>
                        <td>
                            @item.price
                        </td>
                        <td>
                            @item.Category?.Name
                        </td>
                        <td>
                            <img src="~/images/@item.ImagePath" style="width:50px" class="img-thumbnail" />
                        </td>
                        <td width="20%">
                            <a asp-controller="Item" asp-action="Edit" asp-route-Id="@item.id" class="btn btn-sm btn-success">
                                <i class="bi bi-pencil-fill"></i> 
                            </a>
                            <a asp-controller="Item" asp-action="Delete" asp-route-Id="@item.id" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i> 
                            </a>
                            <a asp-controller="Item" asp-action="Details" asp-route-Id="@item.id" class="btn btn-sm btn-info">
                                <i class="bi bi-info-lg"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    
    </div>
</body>




